{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Try the Undercut Procedure:</h2><br><br>
    <h3>The undercut procedure is a procedure for fair item assignment between *two* people</h3><br><br>
    <h4>The algorithm returns a envy-free assignment if it exists :)</h4><br><br>
    <a class="btn-1" href="/input">Get started</a>
    <br><br>
    <div class="center">
        <img class="background-img" src="../static/images/envy_free.jpg" alt="background">
    </div>
</div>

{% endblock %}

